/$RECYCLE.BIN
/Administrasi Basis Data
/Algotitma dan Struktur Data
/apowersoft-online-launcher.exe
/Backup
/CiscoPacketTracer_821_Windows_32bit.exe
/CiscoPacketTracer_821_Windows_64bit.exe
/Genshin Impact game
/Git
/joy-photoshoot-red-velvet-uhdpaper.com-4K-8.3029.jpg
/msys2-x86_64-20240113.exe
/Multiplartform.py
/Multiplatform2.py
/Multiplatform3.py
/Multiplatform4.py
/NAME TAG USRAH IBNU TAIMIYAH
/pemandu
/Pemograman Dasar
/Program Files
/Steam
/System Volume Information
/teman teknik
/Temp
/tempCodeRunnerFile.py
/tempCodeRunnerFile.python
/temporary.py
/virtual
/VirtualBox-7.0.10-158379-Win.exe
/VISUAL STUDIO CODE PEMDAS C
/Wuthering Waves